<%- include("partials/header.ejs") %>

<nav class="navbar navbar-light bg-light">
    <div class="container" id="yuh">
      <span class="navbar-brand">
        <img src="/images/IGDBSearchLogo.svg" alt="" width="30" height="30"> 
      </span>
      <form method="GET" action="/">
        <div class="input-group">
        <input id="searchPostGame" type="text" class="form-control form-control-lg"
            placeholder="Search All Games" id="searchtext"
            name="like" value="">
            <div class="input-group-append">
                <button class="btn btn-primary btn-lg ms-1" type="submit" id="search-button">Search</button>
            </div>
        </div>
       </form>
    </div>
  </nav>

  <div class="container mt-5  overflow-hidden px-4" id="gameContainer">
    <div class="row gx-5">
        <div class="col-md-4">
            <div class="p-2">
                <img src="<%=gameData.cover.replace("t_thumb","t_720p")%>"" id="gameCover" class="img-fluid"/>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3">
                <h1 id="gameTitle"><%=gameData.name%></h1>
                <p id="gameSummary"><%=gameData.summary%></p>
            </div>
        </div>
    </div>
    <div class="row gx-5 mt-3">
        <div class="col-md-4">
            <div class="p-3">
                <h2>Genres</h2>
                <% if(!gameData.genres || gameData.length ==0){%>
                    <div class="no-data"><p>No data found</p></div>
                <%}%> 
                
                <ul id="gameGenres">
                <% for(let genre of gameData.genres){%>
                    <li><%=genre.name%></li>
                    
                    <%}%></ul>
            </div>        
        </div>
        <div class="col-md-4">
            <div class="p-3">
                <h2>Game Modes</h2>
                <div class="no-data"><p>No data found</p></div>
                <ul id="gameModes"></ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3">
                <h2>Platforms</h2>
                <div class="no-data"><p>No data found</p></div>
                <ul id="gamePlatforms"></ul>
            </div>

        </div>
    </div>
    <div class="row  gx-5 mt-3">
        <div class="col-md-12">
            <div class="p-3">
                <h2>Characters</h2>
                <div class="no-data"><p>No data found</p></div>
                <div id="gameCharacters">
    
                </div>
            </div>
        </div>
    </div>
    <div class="row  gx-5 mt-3">
        <div class="col-md-12">
            <div class="p-3">
                <h2>Websites</h2>
                <div class="no-data"><p>No data found</p></div>
                <div id="gameWebsites">
    
                </div>
            </div>
        </div>
    </div>
    <div class="row  gx-5 mt-3" >
        <div class="col-md-12">
            <div class="p-3">
                <h2>Screenshots</h2>
                <div class="no-data"><p>No data found</p></div>
                <div id="gameScreenshots" class="row">
                </div>
            </div>
        </div>
    </div>
    <div class="row  gx-5 mt-3" >
        <div class="col-md-12">
            <div class="p-3">
                <h2>Similar Games</h2>
                <div class="no-data"><p>No data found</p></div>
                <div id="gameSimilar"></div>
            </div>
        </div>
    </div>
</div>


 

<%- include("partials/footer.ejs") %>